<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company created welcome mail</title>
</head>
<body>

Hello, <br/>

Great news! Your company account is all set up.<br/>

Your unique company code is: <p th:text="${companyCode}"></p><br/>

Share this code with up to 3 representatives from your company. They can use it during their registration to become employers on our platform.<br/>

If you have any questions or need help, please don't hesitate to reach out to us at <p th:text="${systemMail}"></p><br/>

Thank you for choosing us for your hiring needs.<br/>

Best regards,<br/>
Job Crony<br/>

</body>
</html>