<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello,<br/>

Your employer account is ready to go!<br/>

Get started right away by posting job listings, finding the best talent, and managing your hiring process hassle-free.<br/>

If you have any questions or need help, just drop us a message at <p th:text="${systemMail}"></p><br/>

Thanks for choosing us for your hiring needs.<br/>

Best regards, <br/>
Job Crony.
</body>
</html>