<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Dear <p th:text="${firstName}"></p>, <br/>

We're thrilled to have you join us! <br/>

Date: <p th:text="${startDateAndTime}"></p> <br/>
<p th:text="${virtualLinkText}"></p><br/>
<p th:text="${locationText}"></p><br/>

Thank you for registering. Get ready for an unforgettable experience filled with knowledge, connections, and fun!<br/>

See you soon!<br/>

Best regards<br/>

</body>
</html>