<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>

<div>
    <p>Hello,</p><br/>
    <p>You recently requested to reset your password. To reset your password, please click on the following link:</p><br/>
    <p><a th:href="${resetPasswordLink}">Reset Password</a></p><br/>
    <p>If you didn't request this, you can ignore this email.</p><br/>
    <p>Thank you!</p><br/>
</div>

</body>
</html>
