<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Dear <strong th:text="${firstName}"></strong>, <br/>

I hope this message finds you well. I'm excited to inform you that you have successfully moved on to the next stage of our hiring process for the <p th:text="${jobTitle}"></p> position at <p th:text="${companyName}"></p>. <br/>

<strong> What to Expect in the Next Stage: </strong> <br/>
In the upcoming interview, we'll be exploring your skills and experience in more detail. Be prepared for several questions and discussions as well.<br/>

We'll be in touch soon with more details about the timing and format of the next interview. If you have any questions in the meantime, feel free to reach out.<br/>

Thank you for your continued interest in joining <p th:text="${companyName}"></p>. We look forward to our next conversation.<br/>

Best regards,<br/>
<p th:text="${companyName}"></p> <br/>

</body>
</html>