<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Job seeker registration</title>
</head>
<body>

Hello, <br/>

Here's your magic link <br/>

<p th:text="${magicLink}"> </p> <br/>

Just click it, and you'll be taken to a short form to complete your registration. Simple and fast!<br/>

Keep this link safe; it's unique to you.<br/>

Need help? Reach out to us at <p th:text="${systemMail}"> </p> <br/>

Thanks for choosing us for your job search. <br/>

Best Regards, Job Crony

</body>
</html>