<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Dear <strong th:text="${firstName}"></strong>, <br/>

I hope this message finds you well. Thank you for your interest in the <strong th:text="${jobTitle}"></strong> position at <strong th:text="${companyName}"></strong>. <br/>

After careful consideration, we have chosen to move forward with another candidate at this time. We appreciate the effort you put into the application process and value your interest in joining our team.

We wish you the best in your future endeavors.

Kind regards.

</body>
</html>
